<div class="ui middle aligned center aligned grid">
	
	<div class="column">
	<div class="ui container home" style="display:none">
		<div class="massive ui buttons homeButtons">	
			<button class="ui blue button addressLoadbutton" (click)="showContractAddressInput()">
				<i class="code icon"></i>
				Load contract
			</button>
			<div class="or"></div>
			<button class="ui button deployContractButton" (click)="deploy()">
				<i class="settings icon"></i>
				Deploy new contract
			</button>
		</div>
		<div class="ui icon message deployLoadingBar" style="display: none">
		  <i class="notched circle loading icon"></i>
		  <div class="content">
		    <div class="header">
		      Contract deployment
		    </div>
		    <p>The game is getting ready.</p>
		  </div>
		</div>

		<div class="ui hidden divider"></div>

		<div class="ui right action fluid input addressInput" style="display: none">
			<input type="text" placeholder="Enter contract address" #addressInput id="addressInput">
			<button class="ui blue button hidden" (click)="loadContractAtAddress(addressInput.value)">Load</button>
		</div>
	</div>

	<div class="ui container game" style="display: none" *ngIf="gameState">
		<div class="ui fluid card">
			<h1 class="ui headers">{{gameState.reward}} eth / <i class="dollar icon"></i>{{gameState.reward * 217.93}}</h1>
			<div class="ui list">
				<div class="item">
					<div class="header">Best address</div>
					{{gameState.lowest}}
				</div>
				<div class="item">
					<div class="header">Your address</div>
					{{address}}
				</div>
			</div>
			<button class="ui pink massive bottom attached button" (click)="play()">Play!</button>
		</div>
	</div>
	<div class="ui page dimmer">
		<div class="content">
			<div class="center">
				<h1 class="ui header inverted">{{error}}</h1>
				<h2 class="ui header inverted">Try reloading the page</h2>
			</div>
		</div>
	</div>
	</div>
	
</div>
